@using BootstrapControls.MVC.HtmlHelperExtensions;
@using BootstrapControls.Core.Fonts;
@using BootstrapControls.Core.Enums;


@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<div class="row">
    <h3>Type</h3>
    <p>
        @Html.BootstrapButton("Default")
        <code>
            @@Html.BootstrapButton("Default")
        </code>
    </p>
    <p>
        @Html.BootstrapButton("Danger", ButtonType.Danger)
        <code>
            @@Html.BootstrapButton("Danger", ButtonType.Danger)
        </code>
    </p>
</div>

<div class="row">
    <h3>Glyphicons</h3>
    <p>
        @Html.BootstrapButton("PLUS", Glyphicon.PLUS)
        <code>
            @@Html.BootstrapButton("PLUS", Glyphicon.PLUS)
        </code>
    </p>
    <p>
        @Html.BootstrapButton("PENCIL", Glyphicon.PENCIL)
        <code>
            @@Html.BootstrapButton("PENCIL", Glyphicon.PENCIL)
        </code>
    </p>
</div>

