@using BootstrapControls.Core.Fonts;
@using BootstrapControls.Core.Enums;
@using BootstrapControls.MVC;


@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<div class="row">
    <h3>Type</h3>
    <p>
        @Bootstrap.Button("Default")
        <code>
            @@Bootstrap.Button("Default")
        </code>
    </p>
    <p>
        @Bootstrap.Button("Danger", ButtonType.Danger)
        <code>
            @@Bootstrap.Button("Danger", ButtonType.Danger)
        </code>
    </p>
</div>

<div class="row">
    <h3>Glyphicons</h3>
    <p>
        @Bootstrap.Button("PLUS", Glyphicon.PLUS)
        <code>
            @@Bootstrap.Button("PLUS", Glyphicon.PLUS)
        </code>
    </p>
    <p>
        @Bootstrap.Button("PENCIL", Glyphicon.PENCIL)
        <code>
            @@Bootstrap.Button("PENCIL", Glyphicon.PENCIL)
        </code>
    </p>
</div>

