@using BootstrapControls.MVC.HtmlHelperExtensions;
@using BootstrapControls.Core.Fonts;


@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<div class="row">
    <h3>Type</h3>
    @Html.BootstrapButton("Default")
    @Html.BootstrapButton("Danger", BootstrapControls.Core.Enums.ButtonType.Danger)
</div>

<div class="row">
    <h3>Glyphicons</h3>
    @Html.BootstrapButton("Move", Glyphicon.MOVE)
    @Html.BootstrapButton("Magnet", Glyphicon.MAGNET)
</div>

