@using BootstrapControls.MVC.HtmlHelperExtensions;


@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<div class="row">
    <h3>Type</h3>
    @Html.BootstrapButton("Default")
    @Html.BootstrapButton("Danger", BootstrapControls.Core.Enums.ButtonType.Danger)
</div>

<div class="row">
    <h3>Glyphicons</h3>
    @Html.BootstrapButton("Move", BootstrapControls.Core.Glyphicon.MOVE)
    @Html.BootstrapButton("Magnet", BootstrapControls.Core.Glyphicon.MAGNET)
</div>

