@using BootstrapControls.Extensions.HtmlHelperExtensions;


@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<div class="row">
    @Html.BootstrapButton("Default")
    @Html.BootstrapButton("Danger", BootstrapControls.Core.Enums.ButtonType.Danger)
</div>

