
@{
    ViewBag.Title = "Navbar";
}

<h2>Navbar</h2>

<div class="row">
    <h3>Default</h3>
    <p>
        @Bootstrap.Navbar("My Application", new Dictionary<string, string>{
            {"Home", "/"},
            {"About", "/Home/About/"},
            {"Contact", "/Home/Contact/"}
        })
        <code>
            @@Bootstrap.Navbar("My Application", new Dictionary<string, string>
            {
            {"Home", "/"},
            {"About", "/Home/About/"},
            {"Contact", "/Home/Contact/"}
            })
        </code>
    </p>
</div>

